*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #484848;
}

a{
    text-decoration: none;
}

body{
    background-color: lightgray;
}

/*navbar start*/

nav{
    display: flex;
    justify-content: space-between;
    height: 64px;
    background-color: white;
    width: 100%;
}

nav .nav-left{
    display: flex;
    align-items: center;
    margin-left: 24px;
}

nav .nav-left img{
    display: flex;
    width: 32px;
}

nav .nav-left p{
    display: flex;
    font-weight: 700;
}

nav .nav-left span{
    display: flex;
    color:#B8B8B8;
    font-weight: 700;
}

nav .nav-right{
    display: flex;
    margin-right: 24px;
    align-items: center;
}

nav .nav-right ul{
    display: flex;
    list-style-type: none;
}

nav .nav-right ul a{
    margin-left: 16px;
}

/*navbar end*/

/*section 1 start*/

.section1{
    width: 100%;
    display:flex;
    margin-top: 32px;
    margin-left: 24px;
    margin-bottom: 32px;
}

.section1 .detail-left{
    width: 60%;
}
.section1 .detail-left img{
    width: 100%;
    height: 80vh;
}
.section1 .detail{
    display: block;
    max-width: 100%;
}

.section1 .detail-right{
    margin-top: 20vh;
}

.section1 .detail-right h1{
    font-size: 50px;
    font-weight:800;
    margin-left: 24px;
}

.section1 .detail-right p{
    margin-left: 24px;
    margin-top: 24px;
    font-size: 30px;
    font-weight:700;
}

.section1 .detail-right .btn{
    margin-left: 24px;
    margin-top: 24px;
    width: 95%;
    background-color:#484848;
    align-items: center;
    text-align: center;
}

.section1 .detail-right .btn a{
    display: inline-block;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
}

/*section 1 end*/

/*section 2 start*/

.section2{
    width: 100%;
    display:flex;
    background-color: white;
    margin-bottom: 32px;
}

.section2 .detail-left{
    width: 75%;
    margin-top: 32px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 32px;
}

.section2 .detail-left img{
    width: 100%;
}

.section2 .detail-left h1{
    margin-top: 32px;
    font-size: 50px;
    font-weight: 800;
}

.section2 .detail-left p{
    margin-top: 24px;
    font-size: 20px;
}

.section2 .detail-left h2{
    margin-top: 80px;
}

.section2 .detail-right{
    margin-left: 16px;
    margin-top: 32px;
}

.section2 .detail-right-1{
    display:flex;
}

.section2 .detail-right-1 img{
    width:auto;
}

.section2 .detail-right-1 .detail-right-1-text{
    margin-left: 20px;
    margin-top: 80px;
}

.section2 .detail-right-1 .detail-right-1-text h1{
    font-size: 25px;
    margin-bottom: 8px;
}

.section2 .detail-right-1 .detail-right-1-text p{
    font-size: 14px;
    margin-bottom: 8px;
}

.section2 .detail-right-1 .detail-right-1-text a{
    font-size: 14px;
    margin-bottom: 8px;
    color:royalblue;
    font-weight:700;
}

.section2 .detail-right-2{
    display: flex;
    margin-top: 16px;
}

.section2 .detail-right-2 img{
    width:auto;
}

.section2 .detail-right-2 .detail-right-2-text{
    margin-left: 20px;
    margin-top: 80px;
}

.section2 .detail-right-2 .detail-right-2-text h1{
    font-size: 25px;
    margin-bottom: 8px;
}

.section2 .detail-right-2 .detail-right-2-text p{
    font-size: 14px;
    margin-bottom: 8px;
}

.section2 .detail-right-2 .detail-right-2-text a{
    font-size: 14px;
    margin-bottom: 8px;
    color:royalblue;
    font-weight:700;
}

.section2 .detail-right-3{
    display: flex;
    margin-top: 16px;
}

.section2 .detail-right-3 img{
    width:auto;
}

.section2 .detail-right-3 .detail-right-3-text{
    margin-left: 20px;
    margin-top: 80px;
}

.section2 .detail-right-3 .detail-right-3-text h1{
    font-size: 25px;
    margin-bottom: 8px;
}

.section2 .detail-right-3 .detail-right-3-text p{
    font-size: 14px;
    margin-bottom: 8px;
}

.section2 .detail-right-3 .detail-right-3-text a{
    font-size: 14px;
    margin-bottom: 8px;
    color:royalblue;
    font-weight:700;
}

/*section 2 end*/

/*footer start*/

footer{
    margin-left: 24px;
}

/*footer end*/